.logo-container {
  display: inline;
}
.logo-container a {
  text-decoration: none;
  color: black;
}
.logo-container a span {
  margin-left: 8px;
}
.logo-img {
  display: inline;
  width: 45px;
  height: 45px;
}
.main-content-wrapper {
  
}
